body
{
}

.divHeader {
  max-width: 640px;
  overflow: auto;
  font-family: Arial;
  font-weight:bold;
  color: red;
}

.divSearch
{
  max-width: 640px;
  overflow: auto;
  font-size:larger;
  color: #696363;
  padding: 10px;
  line-height: 1.9;
  margin-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.194);
}

.divError
{
  max-width: 640px;
  overflow: auto;
  font-family: Arial;
  color: #696363;
  padding: 10px;
  line-height: 1.9;
  margin-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.194);
}

.InputParamControl
{
  overflow: auto;
  font-family: Arial;
  color: #696363;
  padding: 10px;
  line-height: 1.0;
  margin-bottom: 6px;
  max-width: 640px;
}

.TemplateControl
{
  max-width: 640px;
  line-height: 1.9;
  padding: 10px;
  font-family: Arial;
  color: #696363;
  border-bottom: 1px solid rgba(0, 0, 0, 0.194);
  overflow: auto;
}

.combo
{
  width: 100%;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -khtml-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  border: 0.1px solid rgba(0, 0, 0, 0.6);
  font-size: larger;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  -moz-box-shadow: 0 1px 1px rgba(204, 204, 204, 1.0);
  -webkit-box-shadow: 0 1px 1px rgba(204, 204, 204, 1.0);
  box-shadow: 0 1px 1px rgba(204, 204, 204, 1.0);
  margin-top: 6px;
  margin-bottom: 4px;
}

.textbox
{
  width: 98%;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -khtml-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  font-size: larger;
  border: 0.9px solid rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 1px rgba(204, 204, 204, 1.0);
  -webkit-box-shadow: 0 1px 1px rgba(204, 204, 204, 1.0);
  box-shadow: 0 1px 1px rgba(204, 204, 204, 1.0);
  padding: 3px 5px 5px;
  margin-top: 6px;
  overflow: auto;
  margin: 6px 0px 4px;
}

.Comment
{
  line-height: 0.5;
  font-size: initial;
}

.InputParamH
{
  font-weight: bold;
}

.TemplateName
{
  font-weight: bold;
  font-family: Arial;
  font-size:larger;
  text-decoration: none;
  color: #696363;
}
